<!-- 4P之 Picture（愿景） -->
<section class="index-part1 tc">
    <div class="pt50 pb20">
        <%= image_tag("logo.png") %>
    </div>
    <div class="cutline "></div>
    <div>
        <h1 class="f60 pt30 pb30 ">告别繁琐/低效、拥抱品质生活</h1>
        <p class="mt10 f24 pb30 ">
            爱未来，精选的前沿科技，让你生活更简单、更高效、更有品质
        </p>
    </div>
    <div class="text-center pb30 ">
        <a class="index-button" href="/products">还不快来</a>
    </div>
</section>
<!-- 4P之 Promise（承诺） -->
<section class="index-part2">
    <h1 class="mb50 tc f60">
        我们的承诺
    </h1>
    <div class="row">
        <div class="col-md-4">
            <div class="tc">
                <%= image_tag("best-choice") %>
            </div>
            <h3 class="tc f24 col-red">
                拒绝标题党，功能不吹牛
            </h3>
            <p class="ml10 tl f20">
                所有的产品均多层严选，确保功能优秀，实际体验完美。
            </p>
        </div>
        <div class="col-md-4">
            <div class="tc">
                <%= image_tag("easy-to-use") %>
            </div>
            <h3 class="tc f24 col-red">
                扔掉说明书，简单易上手
            </h3>
            <p class="ml10 tl f20">
                所有产品都有丰富的教学视频，一看即懂，我们的在线客服也随时待命。
            </p>
        </div>
        <div class="col-md-4">
            <div class="tc">
                <%= image_tag("money-back") %>
            </div>
            <h3 class="tc f24 col-red">
                拒绝样子货，大厂出正品
            </h3>
            <p class="ml10 tl f20">
                所有的产品均出自名门大厂，谷歌、索尼、大疆，品质有保障。
            </p>
        </div>
    </div>
</section>
<!-- 4P之 Prove（证明） -->
<section class="index-part3">
    <h1 class="mb50 tc f60">
        顾客怎么说
    </h1>
    <div class="row mb20">
        <div class="col-md-4">
            <div class="tc mt10">
                <%= image_tag("luoyonghao.png") %>
            </div>
        </div>
        <div class="col-md-8 mt25">
            <h3 class="tl f24 col-red">
                罗永浩，锤子科技CEO，著名相声演员
            </h3>
            <p class="tl f20">
                爱未来是我寻找情怀的基地，除了锤子手机，我的其他科技产品都从这里买，情怀和实用兼备的网站。
            </p>
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-4">
            <div class="tc mt10">
                <%= image_tag("lixiaolai.png") %>
            </div>
        </div>
        <div class="col-md-8 mt25">
            <h3 class="tl f24 col-red">
                李笑来，中国比特币首富，终身践行者
            </h3>
            <p class="tl f20">
                爱未来的产品帮我节省了大量的注意力，让我更高效的帮助他人成长，我准备让 knewone 和爱未来合作。
            </p>
        </div>
    </div>
    <div class="row mb20">
        <div class="col-md-4">
            <div class="tc mt10">
                <%= image_tag("TimCook.png") %>
            </div>
        </div>
        <div class="col-md-8 mt25">
            <h3 class="tl f24 col-red">
                蒂姆·库克，苹果公司 CEO，乔帮主接班人
            </h3>
            <p class="tl f20">
                我从这里找到了下一代 iphone 的创新方向，我要把下一代 iphone 放在爱未来上首发。
            </p>
        </div>
    </div>
</section>
<!-- 4P之Push（催促行动） -->
<section class="index-part4 tc">
    <h1 style="line-height:150%;">甄选每一件产品<br>只为简化你的生活</h1>
    <div class="text-center pb30 ">
        <a class="index-button" href="/products">还不快来</a>
    </div>
</section>

<!-- /*<div class="container-fluid full-width">
    <div class="text-center" ;>
        <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fcwtedw8xcj31kw0w0k5u.jpg" style="width:100%;">
    </div>
</div>
<div class="container-fluid full-width">
    <div class="text-center" ;>
        <div>
            <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fcwtenexhdj31kw0w0h3x.jpg" style="width:100%;">
        </div>
    </div>
</div>
<div class="container-fluid full-width">
    <div class="text-center" ;>
        <div>
            <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fcwthddzi3j31kw0w0qdb.jpg" style="width:100%;">
        </div>
    </div>
</div>
<div class="container-fluid full-width index-bg-lightgrey">
    <div class="text-center">
        <h1 class="index-text-1">「爱未来」，让未来提前到来!</h1>
        <br>
        <h2 class="index-text-2">
            我们精选未来科技产品，带你探索未来、发现世界、享受生活！</h2>
        <br>
        <p class="index-text-3">虚拟现实 | 人工智能 | 物联生活 | 轻松学习</p>
    </div>
    <div class="text-center ">
        <a class="index-button" href="/products">还不快来</a>
    </div>
</div>*/ -->
<!-- <div class="container-fluid full-width text-center bg-milk-2">
      <p class="body-text-4">我们的宗旨</p>
      <div class="row">
        <div class="col-sm-4">
          <img src="http://i.imgur.com/FRwO7OL.png" alt="Image" width="60%">
          <p class="body-text-5">每款商品都经过多层严选</p>
        </div>
        <div class="col-sm-4">
          <img src="http://i.imgur.com/tzk7A1m.png" alt="Image" width="60%;">
          <p class="body-text-5">产品背后大公司实力保证</p>
        </div>
        <div class="col-sm-4">
          <img src="http://i.imgur.com/Ioeia1U.png" alt="Image" width="60%">
          <p class="body-text-5">一站式集齐所有未来科技</p>
        </div>
      </div>
    </div> -->
